*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/*Header Area*/
nav{
    overflow: auto;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.nav h1{
    width: 50%;
    float: left;
    padding-left: 100px;
    font-size: 25px;
}
.nav a{
    color: black;
    text-decoration: none;
}
.nav ul{
    width: 50%;
    float: right;
    text-align: right;
    padding-right: 100px;
}
.nav li{
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
}
.nav a:hover{
    color:aqua;
}
/*Banner Area*/
.background1{
    clear: both;
    background-image: url(../images/atf-image.jpg);
    background-size: 100%;
    background-position: center;
    height: 500px;
    width: 1300px;
    background-repeat: no-repeat;
}
.h2{
    padding-left: 100px;
    font-size: 50px;
    position: relative;
    display: block;
    top: 100px;
    text-transform: uppercase;
}
.background1 span{
    position: relative;
    text-transform: uppercase;
    padding-left: 100px;
    font-size: 50px;
    color: limegreen;
    top: -5px
}
.p{
    padding-left: 100px;
    position: relative;
    top: 90px;
    font-weight: 0;
}
.a_3{
    top: 115px;
    position: relative;
    background-color: black;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    margin-left: 100px;
}
/*Merchandise Area*/
.background2{
    margin-top: 30px;
    margin-left: 100px;
    float: left;
    background-image: url(../images/merchandise1.jpg);
    background-size: 100%;
    height: 250px;
    width: 545px;
    background-repeat: no-repeat;   
}
.background3{
    margin-top: 30px;
    margin-right: 100px;
    float: right;
    background-image: url(../images/merchandise2.jpg);
    background-size: 100%;
    height: 250px;
    width: 545px;
    background-repeat: no-repeat;
}
.h3{
    top: 75px;
    padding-left: 50px;
    font-size: none;
    position: relative;
    display: flex;
    text-transform: uppercase;
    color: white;
}
.a_4{
top: 75px;
padding-left: 50px;
font-size: smaller;
position: relative;
display: flex;
text-transform: uppercase;
color: white;
}
.h3_2{
    top: 75px;
    padding-left: 50px;
    font-size: none;
    position: relative;
    display: flex;
    text-transform: uppercase;
    color: white;
}
.a_5{
top: 75px;
padding-left: 50px;
font-size: smaller;
position: relative;
display: flex;
text-transform: uppercase;
color: white;
}
/*Coffe House Merchandise Area*/
.p-h2_2{
    padding-top: 230px;
}
.p_2{
    text-align: center;
    font-style: italic;
    padding-top: 100px;
    padding-bottom: 0;
    margin: 0;
    color:  rgb(185, 90, 0);
}
.h2_2{
    text-align: center;
    text-transform: uppercase;
    padding-top: 0;
    margin-top: 5px;
    margin-left: 400px;
    margin-right: 400px;
    padding-bottom: 0;   
}
hr{
    text-align: center;
    margin-left: 600px;
    margin-right: 600px;
    border-top: solid rgb(185, 90, 0);
}
.column {
    float: left;
    padding-inline: 0px;
    padding-left: 2px;
    padding-right: 2px;
    
}
#row1 .column .img_1{   
    margin-left: 100px;
    padding-top: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    height: 270px;
    width: 270px;
}
#row1 .column .img_2{
    padding-top: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    height: 270px;
    width: 270px;
}
#row1 .column .img_3{
    padding-top: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    height: 270px;
    width: 270px;
}
#row1 .column .img_4{
    margin-right:100px;
    padding-top: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    height: 270px;
    width: 270px;
}
.column .h3_3{
    padding-top: 0;
    margin-top: 0;
    font-size:90%; 
    float:inline-end;
    padding-inline: 0px;
    padding-left: 100px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.column .h3_4{
    padding-top: 0;
    margin-top: 0;
    font-size:90%; 
    float:inline-end;
    padding-inline: 0px;
    padding-left: 0px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.column .h3_5{
    padding-top: 0;
    margin-top: 0;
    font-size:90%; 
    float:inline-end;
    padding-inline: 0px;
    padding-left: 0px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.column .h3_6{
    padding-top: 0;
    margin-top: 0;
    font-size:90%; 
    float:inline-end;
    padding-inline: 0px;
    padding-left: 0px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.column .p_3{
    float:inline-end;
    padding-inline: 0px;
    padding-left: 100px;
    opacity: 70%;
    color: rgb(185, 90, 0);
    padding-top: 2px;
    margin-top: 2px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.column .p_4{
    float:inline-end;
    padding-inline: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    opacity: 70%;
    color: rgb(185, 90, 0);
    padding-top: 2px;
    margin-top: 2px;
    
}
.column .p_5{
    float:inline-end;
    padding-inline: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    opacity: 70%;
    color: rgb(185, 90, 0);
    padding-top: 2px;
    margin-top: 2px;
}
.column .p_6{
    float:inline-end;
    padding-inline: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    opacity: 70%;
    color: rgb(185, 90, 0);
    padding-top: 2px;
    margin-top: 2px;
}
.column .p_3_1{
    float:inline-end;
    padding-inline: 0px;
    padding-left: 100px;
    opacity: 70%;
    color: rgb(185, 90, 0);
    padding-top: 0px;
    margin-top: 0px;
}
.column .p_4_2{
    float:inline-end;
    padding-inline: 0px;
    padding-left: 0px;
    opacity: 70%;
    color: rgb(185, 90, 0);
    padding-top: 0px;
    margin-top: 0px;
}
.column .p_5_3{
    float:inline-end;
    padding-inline: 0px;
    padding-left: 0px;
    opacity: 70%;
    color: rgb(185, 90, 0);
    padding-top: 0px;
    margin-top: 0px;
}
.column .p_6_4{
    float:inline-end;
    padding-inline: 0px;
    padding-left: 0px;
    opacity: 70%;
    color: rgb(185, 90, 0);
    padding-top: 0px;
    margin-top: 0px;
}
.column_1{
    float: left;
    padding-inline: 0px;
    padding-left: 2px;
    padding-right: 2px;
}
#row2 .column_1 .img_5{   
    margin-left: 100px;
    padding-top: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    height: 270px;
    width: 270px;
}
#row2 .column_1 .img_6{   
    padding-top: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    height: 270px;
    width: 270px;
}
#row2 .column_1 .img_7{   
    padding-top: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    height: 270px;
    width: 270px;
}
#row2 .column_1 .img_8{   
    margin-right: 100px;
    padding-top: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    height: 270px;
    width: 270px;
}
.column_1 .h3_7{
    padding-top: 0;
    margin-top: 0;
    font-size:90%; 
    float:inline-end;
    padding-inline: 0px;
    padding-left: 100px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.column_1 .h3_8{
    padding-top: 0;
    margin-top: 0;
    font-size:90%; 
    float:inline-end;
    padding-inline: 0px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.column_1 .h3_9{
    padding-top: 0;
    margin-top: 0;
    font-size:90%; 
    float:inline-end;
    padding-inline: 0px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.column_1 .h3_10{
    padding-top: 0;
    margin-top: 0;
    font-size:90%; 
    float:inline-end;
    padding-inline: 0px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.column_1 .p_7{
    float:inline-end;
    padding-inline: 0px;
    padding-left: 100px;
    opacity: 70%;
    color: rgb(185, 90, 0);
    padding-top: 2px;
    margin-top: 2px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.column_1 .p_8{
    float:inline-end;
    padding-inline: 0px;
    opacity: 70%;
    color: rgb(185, 90, 0);
    padding-top: 2px;
    margin-top: 2px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.column_1 .p_9{
    float:inline-end;
    padding-inline: 0px;
    opacity: 70%;
    color: rgb(185, 90, 0);
    padding-top: 2px;
    margin-top: 2px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.column_1 .p_10{
    float:inline-end;
    padding-inline: 0px;
    opacity: 70%;
    color: rgb(185, 90, 0);
    padding-top: 2px;
    margin-top: 2px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.column_1 .p_7_7{
    float:inline-end;
    padding-inline: 0px;
    padding-left: 100px;
    opacity: 70%;
    color: rgb(185, 90, 0);
    padding-top: 0px;
    margin-top: 0px;
}
.column_1 .p_8_8{
    float:inline-end;
    padding-inline: 0px;
    opacity: 70%;
    color: rgb(185, 90, 0);
    padding-top: 0px;
    margin-top: 0px;
}
.column_1 .p_9_9{
    float:inline-end;
    padding-inline: 0px;
    opacity: 70%;
    color: rgb(185, 90, 0);
    padding-top: 0px;
    margin-top: 0px;
}
.column_1 .p_10_10{
    float:inline-end;
    padding-inline: 0px;
    opacity: 70%;
    color: rgb(185, 90, 0);
    padding-top: 0px;
    margin-top: 0px;
}
/*Banner Area*/
.banner{
    background-image: url(../images/banner.jpg);
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    float: left;    
    background-size: 100%;
    width: 1095px;
    padding-bottom: 150px;
    background-repeat: no-repeat;   
}
.banner p{
    position: relative;
    text-align: center;
    font-style: italic;
    color: rgb(223, 125, 35);
    padding-top: 100px;
}
.banner h2{
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: white;
    top: 5px;
}
.banner a{
    top: 25px;
    position: relative;
    background-color: white;
    text-decoration: none;
    color: black;
    text-transform:capitalize;
    padding: 10px;
    margin-left: 495px;
    margin-right: 490px;
    
}